# Assignment 9 - The Team, The Team, The Team
Let's try a bit of team building! This assignment can be done in arbitrary sized groups as big as the whole class. It's going to require flexing some skills and being independent, but I've got confidence in you! The lecture time on Thursday November 12th will be devoted to working on this assignment in breakout groups, but it's up to __you as a class__ to self organize.

Don't want to share? No problem, you can do this in smaller groups too, just remember to list the names of everyone who was involved and hand in one copy by the deadline please!

The names and uniquenames of the people who worked on this submission were:
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename
* Name, uniquename

## Question 1 - 50%
Scape one or more websites to build a list of the men's football (2019) and women's softball (2018-2019) games played in the thie Big Ten. This data needs to be turned into a database with three tables:
1. __Matches__: a table which describes the matches such as when and where they happened, the teams which played, the results of the match. Basically, I want the data from these sites:
* https://bigten.org/stats.aspx?path=football&year=2019#results
* https://bigten.org/confstandings.aspx/2018-19/soft?path=softball#standings
* https://bigten.org/confschedule.aspx/2018-19/soft?path=softball

2. __Plays__: for football, I'd like a table which describes who scored, and when, which should include a time, the team which scored, and so forth. Basically, I want the data from this site: 
* https://bigten.org/boxscore.aspx?id=r8jpms5mt9YevtitGgQBy0ei0qXBGKLTtZjhwPYJuA0PKfPkGJBtbwMLxCqWiCQNRUwEQ6PljW0jmgJb%2fgercesJ7CrNhXcHB14V5csY8AzyrdfPfeeoo8xrXAxNEkdv&path=football

3. __Universities__: a table which describes the universities which have teams in the sports. The pertinent numbers I'm interested in are the location of the university (state and geo-coordinates), when it was established, the endowment, and the number of students. You can get this kind of information from the right hand box in wikipedia, e.g.:
* https://en.wikipedia.org/wiki/University_of_Michigan

All of this should be loaded into a database where the `Matches` table has foreign keys into the `Universities` table and the `Plays` table (for football) has foreign keys into the `Matches` table.

Tips:
* __Divide and conquer__: You have the whole class as a team, think about the scraping of the two sports as well as the plays and university details as separate tasks.
* __Keep it simple__: You need to get the info neccessary to answer a few queries (below), nothing more. Don't try and build a whole content management system.
* __Many ways to skin a cat__: There are several tools you can use to accomplish this, including:
  * `pd.read_html` to turn HTML into `DataFrame`
  * `DataFrame.to_sql` to turn `DataFrame` into SQL stables
  * selenium (hard but comprehensive) or beautiful soup/requests (moderate) or even scrapy to scrape data
  * save pages to local files and work on those files (this is fine!)

In [51]:
!curl "https://en.wikipedia.org/wiki/University_of_Michigan" -o --'Umichwiki.html'
!curl "https://en.wikipedia.org/wiki/Indiana_University_Bloomington" -o --'IndianaUwiki.html'
!curl "https://en.wikipedia.org/wiki/University_of_Maryland,_College_Park" -o --'Umarylandwiki.html'
!curl "https://en.wikipedia.org/wiki/Michigan_State_University" -o --'Michstatewiki.html'
!curl "https://en.wikipedia.org/wiki/Ohio_State_University" -o --'Ohiostatewiki.html'
!curl "https://en.wikipedia.org/wiki/Pennsylvania_State_University" -o --'Pennstatewiki.html'
!curl "https://en.wikipedia.org/wiki/Rutgers_University–New_Brunswick" -o --'Rutgerswiki.html'
!curl "https://en.wikipedia.org/wiki/University_of_Illinois_at_Urbana–Champaign" -o --'Uillinoiswiki.html'
!curl "https://en.wikipedia.org/wiki/University_of_Iowa" -o --'Uiowawiki.html'
!curl "https://en.wikipedia.org/wiki/University_of_Minnesota" -o --'Uminnesotawiki.html'
!curl "https://en.wikipedia.org/wiki/University_of_Nebraska–Lincoln" -o --'Unebraskawiki.html'
!curl "https://en.wikipedia.org/wiki/Northwestern_University" -o --'Northwesternwiki.html'
!curl "https://en.wikipedia.org/wiki/Purdue_University" -o --'Purduewiki.html'
!curl "https://en.wikipedia.org/wiki/University_of_Wisconsin–Madison" -o --'Uwiscowiki.html'

/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found
/bin/sh: 1: curl: not found

In [2]:
import pandas as pd
Umich_wiki =pd.read_html('--Umichwiki.html')[0]
Indiana_wiki =pd.read_html('--IndianaUwiki.html')[0]
MSU_wiki =pd.read_html('--Michstatewiki.html')[0]
Northwestern_wiki =pd.read_html('--Northwesternwiki.html')[0]
OSU_wiki =pd.read_html('--Ohiostatewiki.html')[0]
PSU_wiki =pd.read_html('--Pennstatewiki.html')[0]
Purdue_wiki =pd.read_html('--Purduewiki.html')[0]
Rutgers_wiki =pd.read_html('--Rutgerswiki.html')[1]
Uill_wiki =pd.read_html('--Uillinoiswiki.html')[0]
Uiowa_wiki =pd.read_html('--Uiowawiki.html')[0]
Uminn_wiki =pd.read_html('--Uminnesotawiki.html')[0]
Umaryland_wiki = pd.read_html('--Umarylandwiki.html')[1]
Unebraska_wiki =pd.read_html('--Unebraskawiki.html')[0]
Uwisco_wiki =pd.read_html('--Uwiscowiki.html')[0]

lst = [Umich_wiki, OSU_wiki, Unebraska_wiki, PSU_wiki,  Uiowa_wiki, MSU_wiki, Uminn_wiki, Northwestern_wiki,
               Purdue_wiki, Uwisco_wiki, Umaryland_wiki, Rutgers_wiki, Indiana_wiki, Uill_wiki]

Schools = pd.read_csv('School_YE.csv')
Schools.rename(columns={"2017-2018": "2017-2018 Enrollment", "2018-2019": "2018-2019 Enrollment", "2019-2020": "2019-2020 Enrollment", "2020-2021": "2020-2021 Enrollment"})

,Institution,Location,2017-2018 Enrollment,2018-2019 Enrollment,2019-2020 Enrollment,2020-2021 Enrollment
0,University of Michigan,"Ann Arbor, Michigan","46,002.00","46,716.00","48,090.00","47,907.00"
1,Ohio State University,"Columbus, Ohio","59,837.00","61,170.00","68,262.00","67,957.00"
2,University of Nebraska,"Lincoln, Nebraska","26,079.00","25,820.00","25,332.00","25,057.00"
3,Pennsylvania State University,"State College, Pennsylvania","98,783.00","97,136.00","96,408.00","89,145.00"
4,University of Iowa,"Iowa City, Iowa","33,564.00","32,948.00","31,240.00","30,448.00"
5,Michigan State University,"East Lansing, Michigan","50,019.00","50,351.00","49,809.00","49,695.00"
6,University of Minnesota,"Minneapolis-St. Paul, Minnesota","67,949.00","66,880.00","67,024.00","66,793.00"
7,Northwestern University,"Evanston, Illinois","22,019.00","22,137.00","22,453.00","21,946.00"
8,Purdue University,"West Lafayette, Indiana",31006?,"43,411.00","44,551.00","46,114.00"
9,University of Wisconsin,"Madison, Wisconsin","42,977.00","43,450.00","44,116.00","45,537.00"
10,University of Maryland,"College Park, Maryland","40,521.00","41,200.00","40,743.00","30,511.00"
11,Rutgers University,"New Brunswick–Piscataway, New Jersey","69,198.00","70,876.00","71,011.00","68,942.00"
12,Indiana University,"Bloomington, Indiana","91,515.00","90,028.00","90,754.00","90,090.00"
13,University of Illinois,"Champaign-Urbana, Illinois","47,826.00","49,251.00","51,196.00","52,331.00"

In [4]:
import geopandas
import geopy
from geopy.geocoders import Nominatim

locator = Nominatim(user_agent = "myGeocoder")

def lat(address):
    if locator.geocode(address) != None:
        addy = locator.geocode(address)
        lat = "{}".format(addy.latitude)
        return lat
    else:
        return None

def long(address):
    if locator.geocode(address) != None:
        addy2 = locator.geocode(address)
        long = "{}".format(addy2.longitude)
        return long
    else:
        return None

In [6]:
Schools['Lat'] = Schools['Institution'].apply(lat)
Schools['Long'] = Schools['Institution'].apply(long)

In [7]:
import re

wiki_dict = {}
for i, school in enumerate(list(Schools["Institution"])):
    wiki_dict[school] = lst[i]

def reg_finder(lst):
    colors = []
    endows = []
    estabs = []
    for name in lst:
        wiki = wiki_dict[name]
        colors_raw = wiki.loc[wiki[0] == 'Colors'][1].iloc[0]
        endow_raw = wiki.loc[wiki[0] == 'Endowment'][1].iloc[0]
        estab_raw = wiki.loc[wiki[0] == 'Established'][1].iloc[0]
        colors_reg = r'(.+)\['
        endow_reg = r'(.+)\s\('
        estab_reg = r'(.+);'
        color = re.search(colors_reg, colors_raw)[0][:-1]
        endow = re.search(endow_reg, endow_raw)[0][:-2]
        estab = re.search(estab_reg, estab_raw)[0][:-1]
        if name == 'Pennsylvania State University':
            endow = endow[:13]
        colors.append(color)
        endows.append(endow)
        estabs.append(estab)   
    return (colors, endows, estabs)


Schools['Colors'] = reg_finder(list(Schools['Institution']))[0]
Schools['Endowment'] = reg_finder(list(Schools['Institution']))[1]
Schools['Established'] = reg_finder(list(Schools['Institution']))[2]

In [13]:
Schools.rename({"2017-2018": "2017-2018 Enrollment", "2018-2019": "2018-2019 Enrollment", "2019-2020": "2019-2020 Enrollment", "2020-2021": "2020-2021 Enrollment"}, axis = 'columns')

,Institution,Location,2017-2018 Enrollment,2018-2019 Enrollment,2019-2020 Enrollment,2020-2021 Enrollment,Lat,Long,Colors,Endowment,Established
0,University of Michigan,"Ann Arbor, Michigan","46,002.00","46,716.00","48,090.00","47,907.00",42.2942142,-83.71003893509601,Maize and Blue,$12.44 billion,"August 26, 1817"
1,Ohio State University,"Columbus, Ohio","59,837.00","61,170.00","68,262.00","67,957.00",40.00570905,-83.02866259769122,Scarlet and gray,$5.26 billion,1870
2,University of Nebraska,"Lincoln, Nebraska","26,079.00","25,820.00","25,332.00","25,057.00",40.8229219,-96.70405844999999,Scarlet and cream,$1.435 billion,"February 15, 1869"
3,Pennsylvania State University,"State College, Pennsylvania","98,783.00","97,136.00","96,408.00","89,145.00",40.81107215,-77.87708333635423,Nittany Navy and White Out,$4.55 billion,1855
4,University of Iowa,"Iowa City, Iowa","33,564.00","32,948.00","31,240.00","30,448.00",41.6658499,-91.57310735077672,Black and Gold,$1.58 billion,1847
5,Michigan State University,"East Lansing, Michigan","50,019.00","50,351.00","49,809.00","49,695.00",42.7192043,-84.47791987346606,Green and white,$3.03 billion,"February 12, 1855"
6,University of Minnesota,"Minneapolis-St. Paul, Minnesota","67,949.00","66,880.00","67,024.00","66,793.00",44.97308605,-93.23708812629405,Maroon and Gold,$3.95 billion,1851
7,Northwestern University,"Evanston, Illinois","22,019.00","22,137.00","22,453.00","21,946.00",42.0551164,-87.67581113482166,Purple and white,$11.1 billion,"January 28, 1851"
8,Purdue University,"West Lafayette, Indiana",31006?,"43,411.00","44,551.00","46,114.00",40.430067050000005,-86.92470981568584,Old Gold and Black,$2.63 billion,"May 6, 1869"
9,University of Wisconsin,"Madison, Wisconsin","42,977.00","43,450.00","44,116.00","45,537.00",44.8519784,-92.6167556,Cardinal and white,$3.15 billion,1848
10,University of Maryland,"College Park, Maryland","40,521.00","41,200.00","40,743.00","30,511.00",38.99203005,-76.94610290199051,"Red, white, gold, black",$355.3 million,"March 6, 1856"
11,Rutgers University,"New Brunswick–Piscataway, New Jersey","69,198.00","70,876.00","71,011.00","68,942.00",40.500075949999996,-74.4457915242934,Scarlet,$1.220 billion,"November 10, 1766"
12,Indiana University,"Bloomington, Indiana","91,515.00","90,028.00","90,754.00","90,090.00",39.170121800000004,-86.52609779880657,Cream and Crimson,$2.49 billion,"January 20, 1820"
13,University of Illinois,"Champaign-Urbana, Illinois","47,826.00","49,251.00","51,196.00","52,331.00",40.1410575,-88.2552018,Orange and Blue,$2.35 billion,1867

In [14]:
Schools

,Institution,Location,2017-2018,2018-2019,2019-2020,2020-2021,Lat,Long,Colors,Endowment,Established
0,University of Michigan,"Ann Arbor, Michigan","46,002.00","46,716.00","48,090.00","47,907.00",42.2942142,-83.71003893509601,Maize and Blue,$12.44 billion,"August 26, 1817"
1,Ohio State University,"Columbus, Ohio","59,837.00","61,170.00","68,262.00","67,957.00",40.00570905,-83.02866259769122,Scarlet and gray,$5.26 billion,1870
2,University of Nebraska,"Lincoln, Nebraska","26,079.00","25,820.00","25,332.00","25,057.00",40.8229219,-96.70405844999999,Scarlet and cream,$1.435 billion,"February 15, 1869"
3,Pennsylvania State University,"State College, Pennsylvania","98,783.00","97,136.00","96,408.00","89,145.00",40.81107215,-77.87708333635423,Nittany Navy and White Out,$4.55 billion,1855
4,University of Iowa,"Iowa City, Iowa","33,564.00","32,948.00","31,240.00","30,448.00",41.6658499,-91.57310735077672,Black and Gold,$1.58 billion,1847
5,Michigan State University,"East Lansing, Michigan","50,019.00","50,351.00","49,809.00","49,695.00",42.7192043,-84.47791987346606,Green and white,$3.03 billion,"February 12, 1855"
6,University of Minnesota,"Minneapolis-St. Paul, Minnesota","67,949.00","66,880.00","67,024.00","66,793.00",44.97308605,-93.23708812629405,Maroon and Gold,$3.95 billion,1851
7,Northwestern University,"Evanston, Illinois","22,019.00","22,137.00","22,453.00","21,946.00",42.0551164,-87.67581113482166,Purple and white,$11.1 billion,"January 28, 1851"
8,Purdue University,"West Lafayette, Indiana",31006?,"43,411.00","44,551.00","46,114.00",40.430067050000005,-86.92470981568584,Old Gold and Black,$2.63 billion,"May 6, 1869"
9,University of Wisconsin,"Madison, Wisconsin","42,977.00","43,450.00","44,116.00","45,537.00",44.8519784,-92.6167556,Cardinal and white,$3.15 billion,1848
10,University of Maryland,"College Park, Maryland","40,521.00","41,200.00","40,743.00","30,511.00",38.99203005,-76.94610290199051,"Red, white, gold, black",$355.3 million,"March 6, 1856"
11,Rutgers University,"New Brunswick–Piscataway, New Jersey","69,198.00","70,876.00","71,011.00","68,942.00",40.500075949999996,-74.4457915242934,Scarlet,$1.220 billion,"November 10, 1766"
12,Indiana University,"Bloomington, Indiana","91,515.00","90,028.00","90,754.00","90,090.00",39.170121800000004,-86.52609779880657,Cream and Crimson,$2.49 billion,"January 20, 1820"
13,University of Illinois,"Champaign-Urbana, Illinois","47,826.00","49,251.00","51,196.00","52,331.00",40.1410575,-88.2552018,Orange and Blue,$2.35 billion,1867

## Question 2 - 15%
For Football, calculate the average number of points per match per team

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Question 3 - 15%
Which university has the highest combined rank for the softball and football pair? A university is ranked 1 if they have the highest number of wins to losses (count ties as both ranked the same), ranked 2 if they have the second highest win to loss ratio and so forth. The combined rank is equivilent to the universities rank in both sports added together after they have been normalized based on the number of teams available.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Question 4 - 20%
Is bigger better? Calculate the correlation between the rank of number of students at the institution and the rank of the football team. Does having more students increase chances of success?

Fee free to use Kendall's $\tau$ for this using [https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.kendalltau.html]

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()